<div class="nested-fields">
  <div class="field">
   

    <div class="container">
      <div class="row">
          <div class="col-sm-3">

            <%= f.text_field :starts_at, class: "form-control datetimepicker-input" %>
          </div>
      </div>
    </div>

  </div>
  
  <%= link_to_remove_association "remove day", f %>

  <script type="text/javascript">

    $(function() {
      console.log($("#datetimepicker2").find("input").val())
      $('.nested-fields input').each(function(idx) {
        var id = $(this).attr('id');
        if (id) {
          $(this)
            .attr('data-toggle', 'datetimepicker') // strangely, data() doesn't work here
            .data('target', '#' + id);
        }

        $(this).datetimepicker({
          format: 'L',
          defaultDate: "<%= f.object.starts_at.strftime("%-m/%-d/%Y") if !f.object.new_record? %>"
        
        });

      })
    });

    
  </script>
</div>

