<div class="nested-fields">
  <div class="field">
  
    <div class="container">
      <div class="row">

        <div class='col-md-3'>

          <div class='form-group'>
            <div class="input-group date" data-target-input="nearest">

              <%= f.text_field(:starts_at, value: f.object.starts_at ? f.object.starts_at.strftime('%B %d, %Y %I:%M %p') : nil, class: "form-control datetimepicker-input") %>
              <div class="input-group-append" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fas fa-calendar-plus"></i></div>
              </div>
            </div>
          </div>
          
        </div>
        <div class='col-md-3'>
          <%= link_to_remove_association "remove day", f %>
        </div>
      </div>
    </div>
  </div>
 
</div>

